.header {
  font-size: 9px;
  background-color: $dark-bg;
  &__img {
    width: 114px;
    height: 53px;
  }
  &__basket {
    background-color: $orange;
    &--counter {
      position: absolute;
      right: 5px;
      top: 3px;
      background: #363636;
      border-radius: 50%;
      padding: 3px 5px;
    }
  }
}

@media (min-width: 576px) {
  .header {
    font-size: 11px;

    &__img {
      width: 165px;
      height: 77px;
    }
  }

  .fa-mobile-alt {
    font-size: 20px;
  }
}

