.navigation {
  font-size: 10px;
  background-color: #434343;
  &__link {
    color: $white;
    border-bottom: 1px solid transparent;
    &:hover {
      border-bottom: 1px solid $white;
      color: $white;
    }
  }
}


//MODAL NAVBAR SECTION


.close-btn {
  background-color: black !important;
  opacity: 1;
}

.modal-header .close-btn:hover {
  background-color: #d58e32 !important;
  opacity: 1 !important;
}

.modal-btn {
  background-color: #000 !important;
  font-size: 13px;
}