.top-slider{
  &__img {
    height: 250px;
  }
  &__row {
    background-color: $black-bg;
    &--next:hover,
    &--prev:hover,
    &--prev:hover .fa-chevron-right,
    &--next:hover .fa-chevron-right {
      background-color: $orange !important;
    }
  }
  &__caption {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    left: 15px;
    right: 15px;
    top: 35px;
    bottom: 35px;
  }
}


@media (min-width: 576px) {
  .top-slider {
    &__img {
      height: 450px;
    }

    &__caption {
      left: 0;
      right: 0;
      top: 210px;
      bottom: 110px;
    }
  }
}