//стили для бургера

.menu-btn {
  display: block;
  width: 50px;
  height: 50px;
  border: none;
  position: relative;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%; margin-top: -1px;
  left: 50%; margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: $black;
}
.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
  transition: 0.2s;
}
.menu-btn span::before {
  transform: translateY(-5px);
}
.menu-btn span::after {
  transform: translateY(5px);
}

.menu-btn_active span {
  height: 0;
}

.menu-btn_active span:before {
  transform: rotate(-45deg);
  background-color: $white;
}
.menu-btn_active span:after {
  transform: rotate(45deg);
  background-color: $white;
}


.nav-top:hover a{
  background-color: $orange;
  color: $white !important;

}

.nav-top:hover {
  border-top: 3px solid $black;
}

.nav-top {
  border-top: 3px solid transparent;
}

.menu-bg {
  background-color: $dark-bg;
}


.top-menu {
  &__form {
    width: 160px;
    &--placeholder {
      font-size: 10px;
    }
  }
  &__link {
    color: $white !important;
    font-size: 11px;
  }

  &__nav {
    right: 15px;
    z-index: 3;
  }
}

@media (min-width: 576px) {
  .top-menu__form {
    width: 227px;
  }
}


@media (min-width: 992px) {

.top-menu__link {
  color: $black !important;
  font-size: 16px;
  padding-bottom: 12px;
}

}