//fonts
//font: [font-style||font-variant||font-weight] font-size [/line-height] font-family | inherit
$pop: 'Poppins';
$fa-font-path: "../fonts/webfonts";

//colors from hovermap


//colors for project
$white: #fff;
$black: #000;
$dark-bg: #363636;
$black-bg: #2a2a2a;
$grey700: #a9a9a9;
$orange: #d58e32;

//other variables
