mixin furniture()
    section.furniture.mb-60#products
        .container
            .row
                .col
                    h3.page__title Furniture
                    hr
                .col-3