<!-- Modal for LOGIN-->

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-0">
            <div class="modal-header border-0 pl-5">
                <h5 class="modal-title text-uppercase pt-4" id="loginModalLongTitle">login</h5>
                <button type="button" class="close bg-dark text-white p-2 close-btn" data-dismiss="modal" aria-label="Close">
                    <span class="p-1" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body px-5 py-0">
                <form class="needs-validation" novalidate>
                    <div class="form-group">
                        <input type="text" class="form-control rounded-0 " placeholder="Name/Email*" required>
                        <div class="invalid-feedback">Please enter your name</div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control rounded-0 "  placeholder="Password*" required>
                        <div class="invalid-feedback">Please enter your password</div>
                    </div>
                    <button type="submit" class="btn btn-secondary text-uppercase px-4 rounded-1 modal-btn">login</button>
                </form>
            </div>
            <div class="modal-footer border-0 pt-0 pb-4 pl-5">
            </div>
        </div>
    </div>
</div>