<div class="container" id="ourFeatures">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-3 text-center features ">
            <div class="features__icon">
        <span class="fa-border p-1 d-inline-block rounded-circle ">
          <i class="fas fa-truck p-3 rounded-circle "></i>
        </span>
            </div>
            <div class="text-uppercase d-inline-block border features__icon--text">
                <p class="font-weight-bold">free shopping</p>
                <p>all order</p>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 text-center features ">
            <div class="features__icon">
        <span class="fa-border p-1 d-inline-block rounded-circle ">
          <i class="fas fa-headphones p-3 rounded-circle "></i>
        </span>
            </div>
            <div class="text-uppercase d-inline-block border  features__icon--text">
                <p class="font-weight-bold">24/7 customer</p>
                <p>support</p>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 text-center features ">
            <div class="features__icon">
        <span class="fa-border p-1 d-inline-block rounded-circle ">
          <i class="fas fa-reply-all p-3 rounded-circle "></i>
        </span>
            </div>
            <div class="text-uppercase d-inline-block border  features__icon--text">
                <p class="font-weight-bold">money back</p>
                <p>guarantee</p>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 text-center features ">
            <div class="features__icon">
        <span class="fa-border p-1 d-inline-block rounded-circle ">
          <i class="fas fa-bullhorn p-3 rounded-circle "></i>
        </span>
            </div>
            <div class="text-uppercase d-inline-block border features__icon--text">
                <p class="font-weight-bold">member discount</p>
                <p>first order</p>
            </div>
        </div>
    </div>
</div>