<!-- Top-menu-->
<div class="container">
    <div class="row ">
        <div class="col-7 col-md-4 align-self-center py-2">
            <form class="border border-dark top-menu__form">
                <div class="input-group justify-content-between">
                    <div class="input-group-prepend w-75">
                        <input type="search" class="form-control border-0 top-menu__form--placeholder" id="inlineFormInputGroup" placeholder="Search products...">
                    </div>
                    <i class="fas fa-search align-self-center pr-2"></i>
                </div>
            </form>
        </div>
        <div class="col-5 col-md-7 offset-md-1 text-right pr-0">
            <nav id="topMenu" class="navbar navbar-expand-lg navbar-light top-menu__nav justify-content-end p-0 position-absolute position-lg-relative">
                <a href="#" class="menu-btn navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                </a>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav text-uppercase">
                        <li class="nav-item nav-top">
                            <a href="#" class="nav-link  pr-2 top-menu__link">Home</a>
                        </li>
                        <li class="nav-item nav-top">
                            <a href="#topSlider" class="nav-link  pr-2 top-menu__link">Slider</a>
                        </li>
                        <li class="nav-item nav-top">
                            <a href="#ourFeatures" class="nav-link  pr-2 top-menu__link">Features</a>
                        </li>
                        <li class="nav-item nav-top">
                            <a href="#stocks" class="nav-link   pr-2 top-menu__link">Stocks</a>
                        </li>
                        <li class="nav-item nav-top">
                            <a href="#products" class="nav-link  pr-2 top-menu__link">Products</a>
                        </li>
                        <li class="nav-item nav-top">
                            <a href="#furnitureGallery" class="nav-link   pr-2 top-menu__link">Gallery</a>
                        </li>
                        <li class="nav-item nav-top">
                            <a href="#blog" class="nav-link  pr-2 top-menu__link ">Blog</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>